doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel= 'stylesheet',href='/stylesheets/jquery.seat-charts.css')
    script(src= '/javascripts/jquery.min.js')
    script(src= '/javascripts/jquery.seat-charts.min.js')
    script(src='/javascripts/admin.js')


  body
    block content
